.taskContainer {
  width: 90%;
  margin: auto;
  background-color: turquoise;
  display: flex;
  align-items: center;
  margin-top: 16px;
}

label {
  margin: 16px;
}

.taskTimestampContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 12px;
  width: 90%;
  background-color: turquoise;
  margin: auto;
  padding-bottom: 6px;
  padding-top: 6px;
  font-weight: bolder;
}

.seperator {
  border: 1px solid gray;
  width: 90%;
  margin: auto;
}

.notodoCtn {
  width: 90%;
  margin: auto;
  text-align: center;
}
